@model PagedList.IPagedList<LibraryOnline.Models.EF.Document>
@using PagedList.Mvc
@{
    ViewBag.Title = "Tài liệu chưa duyệt";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int dem = 1;
}

<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Danh sách tài liệu chưa duyệt</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            @if (TempData["add_success"] != null)
            {
                <div class="alert alert-success" id="AlertBox">
                    @TempData["add_success"]
                </div>
            }
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Tài liệu đã duyệt
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Tên tài liệu</th>
                                        <th>Ngày đăng</th>
                                        <th>Tác giả</th>
                                        <th>Thuộc danh mục</th>
                                        <th>Đối tượng</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@dem</td>
                                            <td>@item.Name</td>
                                            <td>@item.DatePost.Value.ToString("dd-MM-yyyy")</td>
                                            <td>@item.PostBy</td>
                                            <td>@item.Category.Name</td>
                                            <td>@item.Subject.Name</td>
                                            <td>
                                                @if (item.ExtensionFile.Trim() == ".doc" || item.ExtensionFile.Trim() == ".docx")
                                                {
                                                    <a href="/Document/GetDoc/@item.ID" class="btn btn-primary" target="_blank" title="Xem chi tiết tài liệu"><i class="fa fa-info-circle"></i></a>
                                                }
                                                else if (item.ExtensionFile.Trim() == ".pdf")
                                                {
                                                    <a href="/Document/GetPDF/@item.ID" class="btn btn-primary" target="_blank" title="Xem chi tiết tài liệu"><i class="fa fa-info-circle"></i></a>
                                                }
                                                else if (item.ExtensionFile.Trim() == ".ppt" || item.ExtensionFile.Trim() == ".pptx")
                                                {
                                                    <a href="/Document/GetPowerPoint/@item.ID" class="btn btn-primary" target="_blank" title="Xem chi tiết tài liệu"><i class="fa fa-info-circle"></i></a>
                                                }
                                                <a href="/Admin/Document/TestDocument/@item.ID" class="btn btn-default" title="Duyệt tài liệu"><i class="fa fa-check"></i></a>
                                                <button class="btn btn-danger btnDelete" data-id="@item.ID" title="Xóa tài liệu"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                        dem++;
                                    }


                                </tbody>
                            </table>
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
</div>

@section jsAdmin{

    <script type="text/javascript">
        $(function () {
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);


            $('.btnDelete').off('click').on('click', function () {
                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/Admin/Document/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {

                                window.location.href = "/Admin/Document/DocumentNotTest";
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa tài liệu thành công.'
                                });
                            } else {

                                window.location.href = "/Admin/Document/DocumentNotTest";
                                PNotify.error({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa tài liệu KHÔNG thành công.'
                                });
                            }
                        }
                    })

                );


            });
        });
    </script>

}



