
@{
    ViewBag.Title = "Quản lý phản hồi";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    int dem = 1;
}

@model PagedList.IPagedList<LibraryOnline.Models.EF.Feedback>
@using PagedList.Mvc


<div id="page-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Quản lý phản hồi người dùng</h1>
            </div>
            <!-- /.col-lg-12 -->
        </div>
        <div class="row">
            @if (TempData["add_success"] != null)
            {
                <div class="alert alert-success" id="AlertBox">
                    @TempData["add_success"]
                </div>
            }
        </div>
        @*<div class="row">
                <div class="col-md-4" style="margin-bottom: 10px">
                    <a href="/Admin/Product/Add" class="btn btn-lg btn-primary">Thêm mới sản phẩm</a>
                </div>
            </div>*@
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Quản lý phản hồi
                    </div>
                    <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nội dung</th>
                                        <th>Điểm</th>
                                        <th>Ngày đánh giá</th>
                                        <th>Người đánh giá</th>
                                        <th>Tên tài liệu</th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model)
                                    {
                                        <tr>
                                            <td>@dem</td>
                                            <td>@item.Content</td>
                                            <td>@item.Point</td>
                                            <td>@item.CreatedDate.Value.ToString("ss:mm:hh dd-MM-yyyy")</td>
                                            <td>@item.User.Fullname</td>
                                            @if (item.Status == true)
                                            {
                                                <td>
                                                    <button class="btn btn-secondary btnStatus" data-id="@item.ID" title="Ẩn đánh giá">Đang hiện</button>
                                                </td>
                                            }
                                            else
                                            {
                                                <td>
                                                    <span class="label label-default">Đã ẩn</span>
                                                </td>
                                            }
                                            <td>
                                                <button class="btn btn-danger btnDelete" data-id="@item.ID" title="Xóa đánh giá"><i class="fa fa-remove"></i></button>
                                            </td>
                                        </tr>
                                        dem++;
                                    }


                                </tbody>
                            </table>
                            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            @Html.PagedListPager(Model, page => Url.Action("Index", new { page, pageSize = Model.PageSize }))
                        </div>
                        <!-- /.table-responsive -->
                    </div>
                    <!-- /.panel-body -->
                </div>
                <!-- /.panel -->
            </div>

        </div>

    </div>
    <!-- /.container-fluid -->
</div>

@section jsAdmin{

    <script type="text/javascript">
        $(function () {
            //nếu không có thao tác gì thì ẩn đi
            $('#AlertBox').removeClass('hide');

            //Sau khi hiển thị lên thì delay 1s và cuộn lên trên sử dụng slideup
            $('#AlertBox').delay(2000).slideUp(500);


            $('.btnDelete').off('click').on('click', function () {
                const notice = PNotify.notice({
                    title: 'Thông báo',
                    text: 'Bạn thật sự muốn xóa?',
                    icon: 'fa fa-question-circle',
                    width: '360px',
                    minHeight: '110px',
                    hide: false,
                    closer: false,
                    sticker: false,
                    destroy: true,
                    stack: new PNotify.Stack({
                        dir1: 'down',
                        modal: true,
                        firstpos1: 25,
                        overlayClose: false
                    }),
                    modules: new Map([
                        ...PNotify.defaultModules,
                        [PNotifyConfirm, {
                            confirm: true
                        }]
                    ])
                });

                notice.on('pnotify:confirm', () =>
                    $.ajax({
                        data: { ID: $(this).data('id') },
                        url: '/Admin/Feedback/Delete',
                        dataType: 'Json',
                        type: 'POST',
                        success: function (res) {
                            if (res.status == true) {

                                window.location.href = "/Admin/Feedback/Index";
                                PNotify.success({
                                    title: 'THÔNG BÁO!!',
                                    text: 'Xóa đánh giá thành công.'
                                });
                            }
                        }
                    })

                );


            });

            $('.btnStatus').off('click').on('click', function () {

                $.ajax({
                    data: { ID: $(this).data('id') },
                    url: '/Admin/Feedback/changeStatus',
                    dataType: 'Json',
                    type: 'POST',
                    success: function (res) {
                        if (res.status == true) {
                            window.location.href = "/Admin/Feedback/Index";
                            PNotify.success({
                                title: 'THÔNG BÁO!!',
                                text: 'Ẩn đánh giá thành công.'
                            });
                        }
                    }
                });

            });
        });
    </script>

}






